<!--
<h1>This is the home page</h1>
<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>
-->
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center" id="jumbo-text">
      <h1 class="display-4">Alpha-blog</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Push & wait</a>
      </p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-center">
    </div>
  </div>
</div>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Your Website", "https://rodakas.org", class: "text-white-50"%></small>
  </div>
</footer>
