<!--
<h1>This is the home page</h1>
<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>
-->
<div class="container" id="home-container">
  <div class="jumbotron text-center" id="jumbo-text">
    <h1 class="display-4">Alpha-blog</h1>
    <p class="lead">Some message.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Push & wait</a>
    </p>
  </div>
</div>
<div class="container text-center">
  <div class="row justify-content-center">
  </div>
</div>
