@import 'bootstrap/dist/css/bootstrap';

.navbar{
  background-color: #5C8893 !important;
}
.nav-link{
  color: black !important;
}
#italic{
  font-style:italic;
}
#lg-btn{
  margin-top: 10;
}
#logo{
  float: left;
  font-size: 1.7em;
  color: #DDDD44;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight:bold;
}
#home-container{
  margin-top: 25px;
}
#jumbo-text{
  padding-top: 25px;
}
.jumbotron{
  background-image: url('mountain-background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: none;
  height: 60vh;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
